apiVersion: config.sdcio.dev/v1alpha1
kind: ConfigSet
metadata:
  name: bgp_{{ data.InfraBGPSession.edges[0].node.device.node.name.value }}
  namespace: default
spec:
  target:
    targetSelector:
      matchLabels:
        sdcio.dev/node: {{ data.InfraBGPSession.edges[0].node.device.node.name.value }}
  priority: 10
  config:
    - path: /
      value:
        network-instance:
          - name: default
            protocols:
              bgp:
                neighbor:
                - peer-address: {{ data.InfraBGPSession.edges[0].node.remote_ip.node.address.ip }}
                  admin-state: enable
                  peer-as: {{ data.InfraBGPSession.edges[0].node.remote_as.node.asn.value }}
                  peer-group: {{ data.InfraBGPSession.edges[0].node.peer_group.node.name.value }}
                afi-safi:
                  - afi-safi-name: ipv4-unicast
                    admin-state: enable
                    multipath:
                      allow-multiple-as: true
                      maximum-paths: 8
                  - afi-safi-name: ipv6-unicast
                    admin-state: enable
                    multipath:
                      allow-multiple-as: true
                      maximum-paths: 8
